<div class="header">
TALLY INSURANCE
</div>


<!-- <form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Number</mat-label>
    <input type="text"
           placeholder= "Pick one"
           aria-label= "Number"
           matInput
           [formControl] = "myControl"
           [matAutocomplete] = "auto">
    <mat-autocomplete #auto= "matAutocomplete">
      <mat-option *ngFor= "let option of options" [value]= "option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form> -->

<div class="content">
<h3>
  Search Life Event
</h3>
<mat-form-field>
    <input matInput [(ngModel)]="lifeEventName">
</mat-form-field>
<button mat-raised-button color="primary" style="margin-left: 15px;" (click)="Search()">Search</button>
<div style="display: flex;flex-direction: column;gap:50px">
  <div *ngIf="imageName">
    <h3>Contextual Image for Advertisement</h3>
    <!-- <span style="position: relative;top:20px;left:100px; font-weight: bold;color: green;">{{caption}}</span> -->
    <img style="height:700px;width: 1000px;" [src]="imageName">
    <br/><br/>
    <span>Contextual Caption for Advertisement : </span><span style="color: green;font-weight: bold;"> {{caption}}</span>
  </div>
  <div>
    <!-- <h3></h3> -->
    <table *ngIf="imageName" [cellPadding]="0" [cellSpacing]="0" [border]="1" style="border-radius:10px;border-collapse:separate;border:solid black 1px;width: 1000px;">
      <tr><td style="text-align: center;"><b>Interests</b></td><td style="text-align: center;"><b>Top Demographic</b></td></tr>
      <tr>
        <td><ul>
          <li *ngFor="let interest of interests">
            <span>{{interest}}</span>
        </ul></td>
      <td style="margin-top: 0%;"><ul>
        <li *ngFor="let demograhictext of demographics">
          <span>{{demograhictext}}</span>
          </li>
      </ul></td>
    </tr>
    </table>
    <!-- <div style="height:300px;width:500px">



    </div> -->
  </div>
</div>
<button mat-raised-button color="primary" style="margin-top: 15px;">Publish</button>
<br/>
<br/>
</div>
